<html>
    <head>
        <style>
            body {
                text-align: center;
                font-family: Verdana;
                margin: 10em auto;
            }
            .wrong-answer {
                background: #f00;
            }
            .right-answer {
                background: #090;
            }
            .close-answer {
                background: #f66;
            }
        </style>
    </head>
    <body
        <% if bg_flag == :correct %>
            <%= 'class="right-answer"' %>
        <% elsif bg_flag == :wrong %>
            <%= 'class="wrong-answer"' %>
        <% elsif bg_flag == :close %>
            <%= 'class="close-answer"' %>
        <% end %>
    >
        <h1>
            Your Guess: <%= guess %>
        </h1>
        <p>
            <%= message %>
        </p>

        <form>
            <input type="text" name="guess">
            <input type="submit" value="Make a Guess!">
        </form>

        <p>
            <% if guess == num %>
                The SECRET NUMBER is <%= num %>
            <% end %>
        </p>

        <script>

        </script>
    </body>
</html>